{% extends "layout.html" %}
{% load static bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 text-center shadow-lg mb-5 p-5" style="margin: 0 auto;">
                <main role="main" class="inner cover">
                    <h1 class="cover-heading" style="font-weight: 600;">ABOUT MINKI</h1>
                    <img src="{% static 'young LMK.jpg' %}" style="max-height: 500px; max-width: 100%; margin: 40px 0px;" />
                    <p class="lead">
                        자기 소개는 A라는 사람이 A를 소개하는 것을 의미합니다. <br>
                        따라서 이민기의 자기소개는 이민기가 이민기를 소개하는 것입니다. <br>
                        하지만 이 글의 작성자는 이민기가 아닙니다. <br>
                        따라서 이 글의 작성자는 이민기의 자기소개를 쓸 수 없습니다.
                    </p>
                </main>
            </div>
            <div class="col-sm-9 text-center shadow-lg mb-5 p-5" style="margin: 0 auto;">
                <main role="main" class="inner cover">
                    <h1 class="cover-heading mb-5" style="font-weight: 600;">ABOUT MINKI TIMES</h1>
                    <p class="lead">
                        이민기의 생일을 축하하기 위한 목적으로 만들어진 웹사이트입니다. <br>
                        이민기가 제 생일에 생일축하 게시판을 만들어 주었습니다. <br>
                        저도 그에 대한 답례로 이 사이트를 제작하게 되었습니다.
                    </p>
                </main>
            </div>
        </div>
    </div>
{% endblock %}
