{% extends "layout.html" %}
{% load static bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <main role="main" class="inner cover">
                    <h1 class="cover-heading">My Profile</h1> <br><br><br>
                    <p class="lead">
                        자기 소개는 A라는 사람이 A를 소개하는 것을 말합니다. <br>
                        따라서 이민기의 자기소개는 이민기가 이민기를 소개하는 것입니다. <br>
                        하지만 저는 이민기가 아닙니다. <br>
                        따라서 저는 이민기의 자기소개를 쓸 수 없습니다.
                    </p>
                    <p class="lead">
                        <br> 대신 이민기에 대한 간단한 퀴즈를 준비해보았습니다. <br>
                        당신은 이민기에 대해 얼마나 알고 있나요?
                    </p>
                </main>
            </div>
        </div>
    </div>
{% endblock %}
