{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>First Django Project</title>

        <link rel="stylesheet" href="{% static "bootstrap-4.6.0-dist/css/bootstrap.min.css" %}" />
        <script src="{% static "jquery-3.6.0.min.js" %}"></script>
        <script src=""{% static "bootstrap-4.6.0-dist/css/bootstrap.min.css" %}></script>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <header class="blog-header py-4 mb-3">
                        <div class="row flex-nowrap justify-content-between align-items-center">
                          <div class="col-4 pt-1">
                            {# 해당 페이지 만들고 페이지 연결하기 #}
                              <a class="text-muted" href="/">ABOUT</a>
                              <a class="text-muted" href="/">HBD</a>
                          </div>
                          <div class="col-4" style="text-align: center;">
                            <a class="blog-header-logo" href="/">
                                <img src="{% static "minki times.png" %}" style="width: 200px;"/>
                            </a>
                          </div>
                          <div class="col-4 d-flex justify-content-end align-items-center">
                              {# 로그인 된 경우 --> 로그아웃 / 마이 페이지 #}
                              {% if user.is_authenticated %}
                                  <a style="margin-right: 10px;" class="btn btn-sm btn-outline-danger" href="{% url 'accounts:logout' %}">로그아웃</a>
                                  <a class="btn btn-sm btn-danger" href="{% url 'accounts:profile_edit' %}">프로필 수정</a>
                              {# 로그인 안 된 경우 --> 로그인 / 회원 가입 #}
                              {% else %}
                                  <a style="margin-right: 10px;" class="btn btn-sm btn-danger" href="{% url 'accounts:login' %}">로그인</a>
                                  <a class="btn btn-sm btn-outline-danger" href="{% url 'accounts:signup' %}">회원 가입</a>
                              {% endif %}
                          </div>
                        </div>
                    </header>
                </div>
            </div>
        </div>

        {% block content %}

        {% endblock %}

        <div class="mt-5">
            <footer class="footer mt-auto py-3 bg-light">
              <div class="container">
                <span class="text-muted">sticky footer</span>
              </div>
            </footer>
        </div>

    </body>
</html>
