{% extends "layout.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9" style="margin: 0 auto;">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">
                        기사 업로드하기
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
