{% extends "layout.html" %}
{% load bootstrap4 static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card-body col-sm-12" style="text-align: justify;">
                <div class="mb-3">
                    <h1 class="text-center mb-5">{{ article.title }}</h1> <hr style="height:0px; color:gray;">
                    <div class="text-right">
                        <img class="text-center rounded-circle mr-1" src="{{ article.author.profile_image_url }}" style="width: 30px; height: 30px;" /> {{ article.author }} 기자
                        <br> 최종 수정 시간 : {{ article.updated_at }} <hr/>
                    </div>
                </div>

                {% if article.article_image %}
                    <div class="card-body col-sm-12 text-center mt-5">
                        <img src="{{ article.article_image.url }}" style="width: 100%;" />
                    </div>
                {% endif %}

                <div class="mt-5 mb-5" style="font-size: 17px; font-family: 'KoPubWorld바탕체 Medium'">
                    <p style="margin-left: 10%; margin-right: 10%;">{{ article.content|linebreaksbr }}</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
