{% extends "layout.html" %}
{% load bootstrap4 static %}

{% block content %}
    <div class="container">
        <div class="row pb-5">

            <div class="col-sm-3 text-center">
                <ul style="list-style: none; padding-left: 0px; font-size: 18px;">
                    <li class="pt-3 pb-3">
                        <a style="color: #202326;" href="{% url 'accounts:profile_edit' %}">프로필 수정</a>
                    </li>
                    {% if user.login_method == 'email' %}
                        <li class="pt-3 pb-3">
                            <a style="color: #202326;" href="{% url 'accounts:password_change' %}">비밀번호 변경</a>
                        </li>
                    {% endif %}
                    <li class="pt-3 pb-3">
                        <a style="color: #b21f2d;" href="{% url 'accounts:delete' %}"><b>회원 탈퇴</b></a>
                    </li>
                </ul>
                <div class="pt-3 pb-5 text-center">
                    <a href="{% url 'etc' %}">
                        <img src="{% static 'door_icon.png' %}" style="width: 100px;"/>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 text-center p-5 shadow-lg" style="margin: 0 auto; vertical-align: middle;">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div>
                        {% if user.login_method == 'email' %}
                            <br><br>
                            비밀번호 확인 &nbsp; : &nbsp; <input type="password" name="input_pwd">
                        {% endif %}
                        <br><br>
                        정말로 탈퇴하시겠습니까? <input class="btn btn-outline-danger ml-3" type="submit" value="피도 눈물도 없이 탈퇴하기"/>
                        <div class="mb-4 mt-4"><hr/></div>
                        <h5><b>주의 : 탈퇴 시 작성한 글과 댓글도 모두 삭제됩니다.</b></h5>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
