{% extends "layout.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="row">

            <div style="width: 200px; float: left">
                <ul style="list-style: none; font-size: 18px;">
                    <li class="pt-3 pb-3">
                        <a style="color: #202326;" href="{% url 'accounts:profile_edit' %}">프로필 수정</a>
                    </li>
                    <li class="pt-3 pb-3">
                        <a style="color: #b21f2d;" href="{% url 'accounts:password_change' %}"><b>비밀번호 변경</b></a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-9">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-success">
                        확인
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
