{% extends "layout.html" %}
{% load bootstrap4 static %}

{% block content %}
    <div class="container">
        <div class="row pb-5">

            <div class="col-sm-3 text-center">
                <ul style="list-style: none; padding-left: 0px; font-size: 18px;">
                    <li class="pt-3 pb-3">
                        <a style="color: #202326;" href="{% url 'accounts:profile_edit' %}">프로필 수정</a>
                    </li>
                    <li class="pt-3 pb-3">
                        <a style="color: #b21f2d;" href="{% url 'accounts:password_change' %}"><b>비밀번호 변경</b></a>
                    </li>
                    <li class="pt-3 pb-3">
                        <a style="color: #202326;" href="{% url 'accounts:delete' %}">회원 탈퇴</a>
                    </li>
                </ul>
                <div class="pt-3 pb-5 text-center">
                    <a href="{% url 'etc' %}">
                        <img src="{% static 'door_icon.png' %}" style="width: 100px;"/>
                    </a>
                </div>
            </div>

            <div class="col-sm-6" style="margin: 0 auto;">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-success">
                        확인
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
