{% extends "layout.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-danger">
                        즉시☜☜가입100%무료※※
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
