{% extends "layout.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for post in post_list %}
                    <div class="mb-3">
                        {{ post.pk }}번째 편지 from {{ post.author }}
                        <img src="{{ post.author.profile_image_url }}" class="rounded-circle" style="width: 32px; height: 32px;" />
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
