{% extends "layout.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 mt-3 mb-5" style="margin: 0 auto;">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary" style="width: 100%">
                        편지 보내기
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
